<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>
    <typeAliases>
        <package name="com.example.demo.domain.member.MemberMapper"/>
        <package name="com.example.demo.domain.role.RoleMapper"/>
        <package name="com.example.demo.domain.resource.ResourceMapper"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/MemberMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/ResourceMapper.xml"/>
    </mappers>
</configuration>