<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.resource.ResourceMapper">
    <insert id="save" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO security.Resource(name) VALUES(#{name})
    </insert>

    <select id="findAllResources" parameterType="java.lang.String">
        SELECT resource.name
        FROM security.Resource resource
    </select>

    <select id="findByRoleName" resultType="java.lang.String">
        SELECT resource.name
        FROM security.Role role
        INNER JOIN security.roles_resources rr ON role.id = rr.role_id
        INNER JOIN security.Resource resource ON rr.resource_id = resource.id
        WHERE role.name IN
                <foreach collection="roleName" item="item" open="(" close=")" separator=",">
                  #{item}
                </foreach>
    </select>
</mapper>
